.footer .twitter {
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/icons/twitter.png) no-repeat;
}

.footer .facebook {
	display: block;
	width: 34px;
	height: 34px;
	background: url(../images/icons/facebook.png) no-repeat;
}