/* Page template */
.home.page-template-homepage-php {
	div.jPanelMenu-panel {
		background: none;
	}
}

.page-template-homepage-php {
	
	#content {
		margin-top: 16px;
	}

	.post-icon-wrapper.post-icon-wrapper-fifty {

		.post-icon {
			width: 50px;
			height: 50px;
			font-size: 24px;	

			@include respond(md) {
				width: 34px; 
				height: 34px; 
				font-size: 18px; 
			}		
		}
	}

	img.top-ad {
		margin: 0 auto;
		display: block;		
	}

	.site-footer {
		background-color: black;
	}

	.footer-only-nav {

		a {
			color: white;		
		}
	}

	.header-nav-in-footer {

		a {
			color: #d1d2d4;
		}
	}

	.footer {
		
		.site-action-links {
			
			a {
				color: white; 
			}
		}
	}

	footer {

		.facebook {
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/icons/facebook-white.png) no-repeat;			
		}

		.twitter {
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/icons/twitter-white.png) no-repeat;			
		}
	}

	.headlining {
		width: 20%;
	}

	@include respond(md) {

		#inner-content {
			padding: 0;
		}

		#inner-header {
			padding-left: 0; 
		}
	}

	@include respond(xs) {
		#container {
			padding-top: 22px;
		}

		&.logged-in #container {
			padding-top: 4px; 
		}

		#main {
			margin-top: 0;
		}
	}
}

/* Headlining Articles */
.headlining {
	float:left;
	margin-right: 16px;
	padding-top: 16px;

	&.top {
		margin: 0 4%;
		height: 396px; 

		.top-article {
			display:inline-block;
			//height: 33%;
		}
	}

	.sep {
		border-bottom: 2px solid black;
		width: 30%;
		margin: 16px auto;		
	}
	
	article {
		
		h2 {
			font-size: 21px; 
			line-height: 25px; 
			@include s2b;
			text-align:center; 
			margin-bottom: 16px; 
		}

		p.meta {
			font-size: 11px; 
			font-weight: bold; 
			text-align:center; 
			text-transform: uppercase; 

			a {
				text-decoration:none; 
			}
		}
	}

	article:last-child .sep {
		border: 0; 

		.top & {
			margin: 0; 
			display:none;
		}
	}
}

/* Hero Article */
#hero {
	float:right;
	width: 72%;
	height: 396px;
	margin-bottom: 16px;	

	.headline {
		padding: 24px; 
		width: 33%; 
		height: 100%; 
		position:absolute;

		@include respond(sm) {
			width: 50%;
		}

		.arrow {
			width: 0;
			height: 0;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			border-left: 25px solid #f6d04a;
			position: absolute;
			right: -16px;
			top: 16%;

			&.innovation-colored {
				border-left: 25px solid #7d8ac1;
			}

			&.science-colored {
			  	border-left: 25px solid #e58530;
			}


			&.history-colored {
			  	border-left: 25px solid #f5d454;
			}


			&.life-colored {
			  	border-left: 25px solid #9daa39;
			}						
		}

		span {
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			@include o;
			font-weight: bold;			
		}
	}

	h1 {
		@include s2b;
		font-size: 34px; 
		margin-bottom: 32px; 

		@include respond(sm) {
			font-size: 25px;
		}
	}

	img {
		float: right; 
		width: auto; 
		height: 396px; 
	}	

	.meta {
		font-size: 11px; 
		font-weight: bold; 
		text-transform: uppercase; 

		a {
			text-decoration:none; 
		}
	}

	.post-icon {
		position: absolute; 
		right: 0; 
	}

	@include respond(md-only) {
		width: $screen-md;
		float:left;
	}

	@include respond(sm-only) {
		width: $screen-sm;
		float:left;
		height: 266px;

		img {
			height: 266px; 
		}

		.meta {
			font-size: 8px; 
		}

		.headline {
			span {
				font-size: 10px; 
			}
		}
	}

	@include respond(xs) {
		width: 100%;
		float:left;

		h1 {
			font-size: 24px;
		}

		img {
			width: 100%; 
			height: auto;
		}

	    .headline {
			width: 100%;
			top: 218px;
			height: auto;

			.arrow-up {
				position:absolute;
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-top: 0;
				left: 45%;
				top: -10%;	

				&.innovation-colored {
					border-bottom: 25px solid #7d8ac1;
				}	

				&.science-colored {
					border-bottom: 25px solid #e58530;
				}

				&.history-colored {
					border-bottom: 25px solid #f5d454;
				}	

				&.life-colored {
					border-bottom: 25px solid #9daa39;
				}
			}
		}

	    .arrow {
			display:none;
		}
	}	
}

#two-stories {

	.left {
		float:left; 
		margin-right: 16px;
		overflow:hidden;

		.headline {
			h2 {
				width: 75%; 

				@include respond(md) {
					font-size: 17px;
				}
			}
		}

		@include respond(md) {
			width: 57%;
		}

		@include respond(sm-only) {
			width: 240px;
			height: 189px;

			img {
				width: 150%; 
				max-width: 200%; 
			}
		}
	}

	.right {
		float: left;

		@include respond(md) {
			float:right;
			width: 40%;
			height: 240px; 
			overflow:hidden;

			img {
				height: 100%; 
				width: auto; 
			}
		}

		@include respond(sm) {
			width: 240px;
			height: 189px;
		}
	}

	.post-icon {
		position: absolute; 
		top: 0; 
	}

	.headline {
		position: absolute;
		bottom: 36px;

		@include respond(md) {
			bottom: 16px;
		}

		h2 {
			padding: 16px; 
			@include s2b;
			font-size: 21px; 
			display: inline-block; 
			width: 60%; 

			@include respond(md) {
				font-size: 17px;
			}

			@include respond(sm) {
				font-size: 14px;
				padding: 8px;
			}			
		}
		
		.meta {			
			margin-top: 8px; 
			padding: 16px; 
			@include o; 
			font-weight: bold; 
			font-size: 10px; 
			text-transform: uppercase; 
			display: inline-block;

			a {
				text-decoration: none; 

				&.category {
					color: #fff; 
				}
			}

			@include respond(md) {
				font-size: 8px;
			}

			@include respond(sm) {
				padding: 8px; 
			}
		}
	}
}

/* Mini Featured */
#mini-featured {
	/*background: url("../images/mini-featured-bg.png");*/
	background: url("../images/bg-darker.png");
	padding: 32px 0;

	@include respond(md) {
		.wrap {
			padding: 0;
		}
	}

	article {
		width: 23.8%;
		float: left;
		margin-bottom: 0;
		margin-right: 16px;	
	
		&:last-child {
			margin-right: 0; 
			float:right;
		}

		@include respond(md) { 
			width:23.3%;

			&:last-child {
				float:right;
			}
		}
	}

	h2 {
		position:absolute;
		top: 63px;
		width: 60%;
		font-size:21px;
		font-family: 'stratum2bold';
		padding: 13px;

		@include respond(md) {
			top: 30%;
			font-size: 15px;
			padding: 8px;
		}
	}

	.article-block {

		.share-tab {
			border: 28px solid #cccccc;
			border-top-color: transparent;
			border-left-color: transparent;				
		}
	}

	.post-icon {
		position:absolute;
		top: 0;
	}

	.share-buttons {
		background-color: #cccccc;
	}
}



/* Home page content */
#home-content {
	margin-top: 32px;

	@include respond(md) {
		&.wrap {
			padding: 0;
		}
	}
}

#main-content {

	article {
		border-bottom: 4px solid black;
		padding-bottom: 32px;

		.article-content {
			float:left; 
			width: 70%;

			@include respond(sm-only) {
				width: 66%;
			}

			@include respond(xs) {
				width: 63%;
			}			
		}

		img {
			width: 227px; 

			@include respond(sm-only) {
				width: 150px; 
			}

			@include respond(xs) {
				width: 132px;
			}
		}

		.img_wrapper {
			float:left;
			margin-right: 16px;
			position: relative;
			padding: 0;			
		}

		&:last-child {
			border: 0; 
		}		

		@include respond(md) {
			padding-bottom: 16px; 
		}
	}
	

	h2 {
		font-size: 21px; 
		@include s2m; 
		margin-bottom: 16px; 

		@include respond(md) {
			font-size: 15px;
			margin-bottom: 8px;
		}
	}

	p {
		font-size: 14px; 
		line-height: 20px;
		margin-bottom: 16px;

		@include respond(md) {
			font-size: 12px; 
			line-height: 18px; 
		}

		&.meta {
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0;

			a {
				text-decoration:none; 
			}	

			@include respond(md) {
				font-size: 8px;
			}		
		}	
	}

	.post-icon {
		position: absolute; 
		top: 0; 
	}

	.loading {
		margin-bottom: 32px;
	}

	.load-more {
		background-color: black;
		display: block;
		width: 100%;
		padding: 16px;
		color: white;
		text-align:center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'stratum2bold';
		@include s2b;
		font-size: 20px;		
	}
	
	@include respond(md) {
		.share-tab {
			border: 18px solid #fff;
			border-top-color: transparent;
			border-left-color: transparent;	

			.icon-Share {
				font-size: 15px;
				right: -18px;
				bottom: -16px;
			}
		}

		.share-buttons {

			&.inline {
				padding: 8px; 

				span + span {
					padding-left: 5px;
				}
			}

			a {
				font-size: 13px;
			}

			.icon-Email {
				font-size: 11px; 
			}
		}
	}
}


/* Sidebar */
#home-sidebar {
	width: 300px;
	padding: 0;
	margin-left: 12.5px;
	margin-right: 12.5px;
	float:right;

	@include respond(md) {
		float:right; 
		margin-right: 0px; 
	}
}

#recommended {
	h4 {
		background-color: black;
		text-align:center;
		text-transform: uppercase; 
		color: white;
		font-size: 21px;
		@include o;
		font-weight: bold;
		padding: 16px 0;
		margin: 32px 0;
		letter-spacing: 1px;

		@include respond(md) {
			font-size: 17px; 
		}
	}

	.headlining {
		width: 100%; 
		padding: 0 16px; 

		.sep {
			border-width: 4px;
			width: 60%;
			margin: 32px auto;			
		}

		@include respond(md) {
			h2 {
				font-size: 18px; 
			}

			.meta {
				font-size: 8px; 
			}
		}
	}
}

@include respond(sm) {
	#inner-footer .header-nav-in-footer a,
	#inner-footer .footer-only-nav a{
		font-size: 10px;
	}
}

/* Responsive */
// @media all and (min-width:501px) and (max-width: 738px){
// 	.page-template-homepage-php .wrap {
// 		width: 100%;
// 	}

// 	.page-template-homepage-php .row {
// 		margin: 0;
// 	}

// 	.page-template-homepage-php #inner-content {
// 		padding: 0;
// 	}

// 	#hero {
// 		width: 100%;
// 	}

// 	#two-stories .headline h2 {
// 		font-size: 17px;
// 		padding: 8px;
// 	}

// 	#two-stories .left {
// 		width: 60%;
// 	}

// 	#two-stories .right {
// 		width: 37%;
// 		float:right;
// 	}

// 	#two-stories .headline p.meta {
// 		font-size: 8px;
// 		padding: 8px;
// 	}
	
// 	#mini-featured article {
// 		width: 22.9%;
// 	}
// 	#mini-featured h2 {
// 		font-size: 15px;
// 		width: 75%;
// 		top: 30%;
// 		padding: 8px;
// 	}
	
// 	.page-template-homepage-php .article-block .share-tab span,
// 	.page-template-homepage-php .article-block .share-buttons span {
// 		font-size: 18px;
// 	}
	
// 	.page-template-homepage-php .article-block .share-buttons .icon-Email {
// 		font-size: 16px;
// 	}

// 	.page-template-homepage-php .article-block .share-tab .icon-Share {
// 		right: -22px;
// 		bottom: -23px;
// 	}

// 	#main-content article h3 {
// 		font-size: 15px;
// 	}

// 	#main-content article p {
// 		font-size: 12px;
// 		line-height: 18px;
// 	}

// 	#main-content article p.meta {
// 		font-size: 8px;
// 	}

// 	#recommended h4 {
// 		font-size: 16px;
// 	}

// 	#recommended h1 {
// 		margin-bottom: 8px;
// 	}

// 	#recommended .headlining {
// 		padding: 0 8px;
// 	}

// 	#recommended .headlining .sep {
// 		margin: 24px auto;
// 		border-width: 3px;
// 	}

// 	#home-sidebar .headlining article h1 {
// 		font-size: 18px;
// 	}

// 	#home-sidebar .newsletter-signup h2 {
// 		font-size: 15px;
// 	}

// 	.page-template-homepage-php .post-icon-wrapper.post-icon-wrapper-fifty .post-icon {
// 		width: 34px;
// 		height: 34px;
// 		font-size: 18px;
// 	}
// }

// /* 500px width */
// @media all and (max-width: 500px) {
// 	.page-template-homepage-php .wrap {
// 		width: 100%;
// 	}

// 	#hero {
// 		height: 266px;
// 		width: 100%;
// 	}

// 	#hero h1 {
// 		font-size: 25px;
// 		line-height: 29px;
// 	}
	
// 	#hero .headline {
// 		width: 45%;
// 		height: 100%;
// 		margin-bottom: 16px;
// 		padding:16px;
// 	}

// 	#hero img {
// 		height: 266px;
// 		width: auto;
// 	}

// 	#hero .article-block {
// 		width: 100%;
// 	}

// 	#two-stories article {
// 		width:48.2%;
// 	}

// 	#two-stories .right {
// 		float:right;
// 	}

// 	#two-stories .headline h2 {
// 		font-size: 14px;
// 		padding: 8px;
// 	}

// 	#two-stories .headline p.meta {
// 		padding: 8px;
// 		font-size: 7px;
// 	}

// 	#two-stories .headline {
// 		bottom: 8px;	
// 	}

// 	#two-stories img {
// 		width: 241px;
// 		height: 225px;
// 	}

// 	.page-template-homepage-php .post-icon-wrapper.post-icon-wrapper-fifty .post-icon {
// 		width: 34px;
// 		height: 34px;
// 		font-size: 18px;
// 	}

// 	#main-content {
// 		padding: 0;
// 	}	

// 	#main-content .img_wrapper {
// 		padding: 0;
// 		width: 30%;
// 	}

// 	#main-content article {
// 		padding-bottom: 16px;
// 	}

// 	#main-content article .article-content {
// 		width: 66%;
// 	}
// 	#main-content article h3 {
// 		font-size: 15px;
// 	}

// 	#main-content article p {
// 		font-size: 12px;
// 		line-height: 18px;
// 	}

// 	#main-content article p.meta {
// 		font-size: 8px;
// 	}

// 	#mini-featured,
// 	#home-sidebar {
// 		display:none;
// 	}

// 	#inner-footer .header-nav-in-footer a,
// 	#inner-footer .footer-only-nav a{
// 		font-size:10px;
// 	}	

// 	body.admin-bar.home {
// 		padding-bottom: 0;
// 		margin: 0;
// 	}	
// }

// @media all and (max-width: 400px) {
// 	#related, 
// 	#slidein-social,
// 	#two-stories,
// 	.loading {
// 		display:none;
// 	}
	
// 	.page-template-homepage-php #inner-content {
// 		padding: 0px;
// 	}

// 	.page-template-homepage-php #inner-header {
// 		padding-left: 12.5px;
// 		padding-right: 12.5px;
// 	}

// 	.page-template-homepage-php #content {
// 		margin: 0;
// 	}

// 	.page-template-homepage-php html body.logged-in .jPanelMenu-panel {
// 		padding-top: 38px;
// 	}

// 	#hero .headline {
// 		width: 100%;
// 		top: 246px;
// 		height: auto;
// 	}

// 	#hero .arrow {
// 		display:none;
// 	}

// 	#hero .headline .arrow-up {
// 		position:absolute;
// 		border-left: 25px solid transparent;
// 		border-right: 25px solid transparent;
// 		border-top: 0;
// 		left: 45%;
// 		top: -10%;
// 	}

// 	/* line 570, ../scss/partials/_custom.scss */
// 	#hero .headline .arrow-up.innovation-colored {
// 	  	border-bottom: 25px solid #7d8ac1;
// 	}

// 	/* line 573, ../scss/partials/_custom.scss */
// 	#hero .headline .arrow-up.science-colored {
// 	  	border-bottom: 25px solid #e58530;
// 	}

// 	/* line 576, ../scss/partials/_custom.scss */
// 	#hero .headline .arrow-up.history-colored {
// 	  	border-bottom: 25px solid #f5d454;
// 	}

// 	/* line 579, ../scss/partials/_custom.scss */
// 	#hero .headline .arrow-up.life-colored {
// 	  	border-bottom: 25px solid #9daa39;
// 	}
	

// 	#home-content {
// 		margin-top: 160px;
// 	}
	
// 	#main-content .article-content {
// 		padding-right: 8px;
// 	}
	
// 	#inner-footer .header-nav-in-footer a,
// 	#inner-footer .footer-only-nav a{
// 		font-size:10px;
// 	}
// }

// @media all and (max-width: 400px) {
// 	#main-content article .article-content {
// 		width: 60%;
// 	}
// }