@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?mh9a5x');
	src:url('../fonts/icomoon.eot?#iefixmh9a5x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?mh9a5x') format('woff'),
		url('../fonts/icomoon.ttf?mh9a5x') format('truetype'),
		url('../fonts/icomoon.svg?mh9a5x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@mixin icon-font  {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"], .icon-font {
	@include icon-font;
}

.icon-History:before {
	content: "\e607";
}
.icon-Innovation:before {
	content: "\e608";
}
.icon-Life:before {
	content: "\e609";
}
.icon-play:before {
	content: "\e60a";
}
.icon-Video:before {
	content: "\e60b";
}
.icon-Lists:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
.icon-Camera:before {
	content: "\e60e";
}
.icon-Share:before {
	content: "\e60f";
}
.icon-Email:before {
	content: "\e610";
}
.icon-Search:before {
	content: "\e611";
}
.icon-Full_Logo:before {
	content: "\e612";
}
.icon-Logo_Icon:before {
	content: "\e613";
}
.icon-Science:before {
	content: "\e614";
}
.icon-linkedin:before {
	content: "\e615";
}
.icon-facebook:before {
	content: "\e616";
}
.icon-twitter:before {
	content: "\e617";
}
.icon-feed:before {
	content: "\e618";
}
.icon-headphones:before {
	content: "\e619";
}
.icon-Logo_Text:before {
	content: "\e61b";
}
.icon-pause:before {
	content: "\e61d";
}
.icon-facebook-c:before {
	content: "\e600";
}
.icon-instagram-c:before {
	content: "\e601";
}
.icon-linkedin-c:before {
	content: "\e602";
}
.icon-pinterest-c:before {
	content: "\e603";
}
.icon-rss:before {
	content: "\e604";
}
.icon-twitter-c:before {
	content: "\e605";
}
.icon-vine-c:before {
	content: "\e606";
}
.icon-tumblr-c:before {
	content: "\e61a";
}